@charset "utf-8";
/* font */
@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

:root {
  /* color */
  --primary: #ff0000;
  --primary-6: #cc0000;
  --white: #fff;
  --dimWhite: #f6f6f6;
  --lightGray: #dddddd;
  --darkGray: #969696;
  --black: #190000;
  --black-heading: #333;
  --blue: #0088ff;
  --yellow: #faaa19;
  --green: #00b132;

  /* font */
  --body: 400;
  --bodyStrong: 700;
  --body-s: 1.3rem;
  --body-m: 1.5rem;
  --body-l: 1.8rem;

  --subheading: 500;
  --subheading-m: 2.2rem;

  --heading: 700;
  --heading-m: 2.8rem;
  --heading-l: 5.6rem;

  --title: 700;
  --title-m: 4rem;
  --title-xl: 8rem;

  /* custom easing */
  --ease-out: cubic-bezier(0, 0, 0.5, 1);
  --ease-in-out: cubic-bezier(0.5, 0, 0.5, 1);
}

/* libs */
.hidden {
  display: none;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

.svg-box,
.img-box {
  display: block;
  line-height: 0;
}

.img-box img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  will-change: transform;
}

.content-wrap {
  max-width: 144rem;
  margin: 0 auto;
}

.section-title {
  font-size: var(--heading-l);
  font-weight: var(--heading);
  line-height: 1.3;
}

.slide__inner {
  display: block;
}

/* --------------- component --------------- */

/* --------------- btn-st-1 --------------- */
.button__st-1 {
  display: block;
  position: relative;
  width: fit-content;
  padding: 1.2rem 2.4rem;
  font-size: var(--body-m);
  font-weight: var(--body);
  line-height: 1.2;
  background-color: var(--white);
  color: var(--black);
  border-radius: 9.9rem;
  transition: all 0.33s var(--ease-in-out);
  overflow: hidden;
  box-sizing: border-box;

  &[button-style="ghost"] {
    outline: 1px solid var(--black);
    background-color: transparent;

    &:hover {
      outline: 1px solid transparent;
    }
  }

  &[button-style="inverted"] {
    background-color: var(--black);
    color: var(--white);
  }

  .button__st-1-text {
    position: relative;
    z-index: 2;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: inherit;
    width: 1rem;
    height: 1rem;
    border-radius: 10rem;
    background-color: var(--primary);
    opacity: 0.8;
    will-change: transform, opacity;
    transition-delay: 0.05s;
  }

  &:hover {
    color: var(--white);

    &::after {
      transform: translate(-50%, -50%) scale(20);
      opacity: 1;
    }
  }
}

/* --------------- tag-btn --------------- */
.button__tag {
  padding: 0.6rem 1.2rem;
  display: block;
  width: fit-content;
  line-height: 1.3;
  font-size: var(--body-m);
  font-weight: var(--body);
  box-sizing: border-box;
  border-radius: 0.4rem;
  background-color: var(--dimWhite);
  transition: all 0.27s var(--ease-out);

  &::before {
    content: "#";
    display: inline-block;
    margin-right: 0.2rem;
  }

  &:hover {
    background-color: var(--lightGray);
  }

  &[button-style="ghost"] {
    border: 1px solid var(--lightGray);
    background-color: transparent;

    &:hover {
      background-color: var(--lightGray);
    }
  }

  &[button-style="selected"] {
    background-color: var(--black);
    color: var(--white);
  }

  &[button-size="large"] {
    padding: 1.2rem 2.4rem;
  }

  &[show-marker="false"] {
    &::before {
      content: "";
    }
  }
}

/* --------------- card-st-1 --------------- */
.card-st-1 {
  display: flex;
  gap: 2rem;
  padding: 2.4rem;
  box-sizing: border-box;
  line-height: 1.2;
  overflow: hidden;
  border-radius: 2.4rem;
  border: 1px solid var(--darkGray);
  transition: all 0.24s var(--ease-out);

  &:hover {
    background-color: var(--dimWhite);

    .img-box img {
      transform: scale(1.04);
    }

    .button__tag {
      filter: brightness(0.9);
    }
  }

  .img-box {
    max-width: 20rem;
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      transition: all 0.2s var(--ease-out);
    }
  }

  .right-box {
    position: relative;
    flex-grow: 1;
  }

  .tag-wrap {
    display: flex;
    gap: 0.8rem;
  }

  .card__name {
    margin-top: 1.6rem;
  }
  .card__price {
    font-weight: var(--subheading);
    font-size: var(--subheading-m);
    margin-top: 1.6rem;

    .price__unit {
      font-size: var(--body-m);
    }
  }

  .card__review {
    display: flex;
    align-items: center;
    font-size: var(--body-s);
    margin-top: 1rem;

    .review__star {
      width: 2rem;
      height: 2rem;
    }
    .review {
      margin-left: 1rem;
    }
    .review__amount {
      margin-left: 0.3rem;
    }

    .review,
    .review__amount {
      color: var(--darkGray);
    }
  }

  .btn-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 1rem;

    .btn {
      display: flex;
      width: 4.4rem;
      height: 4.4rem;
      justify-content: center;
      align-items: center;
      border-radius: 9rem;
      box-sizing: border-box;
      border: 1px solid var(--darkGray);
      transition: all 0.2s var(--ease-out);

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }

    .btn-shop {
      background-color: var(--primary-6);
      color: var(--white);
      border: 1px solid transparent;
    }
  }
}

/* --------------- card-st-2 --------------- */
.card-st-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 42rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  border: 1px solid var(--darkGray);
  box-sizing: border-box;
  margin: 1px;
  transition: background-color 0.24s var(--ease-out);

  &:hover {
    background-color: var(--dimWhite);
    .img-box img {
      transform: scale(1.04);
    }
  }

  .img-box {
    overflow: hidden;
    img {
      aspect-ratio: 1/1;
      transition: transform 0.2s var(--ease-out);
    }
  }

  .card__name {
    line-height: 1.3;
  }
  .card__price {
    font-size: var(--body-l);
    font-weight: var(--bodyStrong);
    margin-top: 1rem;

    .price__unit {
      font-size: var(--body-m);
      font-weight: var(--body);
    }
  }

  .card__review {
    display: flex;
    align-items: center;
    font-size: var(--body-s);
    margin-top: 1rem;

    .review__star {
      width: 2rem;
      height: 2rem;
    }
    .review {
      margin-left: 1rem;
    }
    .review__amount {
      margin-left: 0.3rem;
    }

    .review,
    .review__amount {
      color: var(--darkGray);
    }
  }
}

/* --------------- card-st-3 --------------- */

.card-st-3 {
  position: relative;
  max-width: 40rem;
  max-height: 40rem;
  box-sizing: border-box;
  border-radius: 2.4rem;
  overflow: hidden;

  .card__img {
    img {
      aspect-ratio: 1/1;
    }

    .img__filter {
      position: absolute;
      inset: 0 0 0 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
      opacity: 0.7;
      transition: opacity 0.3s var(--ease-out);
    }
  }

  .card__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem;
    color: var(--white);
    line-height: 1.3;
  }
  .card__tag {
    font-weight: 500;
    font-size: var(--body-l);
    margin-bottom: 1rem;
  }
  .card__title {
    font-weight: var(--subheading);
    font-size: var(--heading-m);
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* 제한할 텍스트의 줄 수 */
  }

  &:hover {
    .card__img .img__filter {
      opacity: 1;
    }
  }
}

/* --------------- swiper btns --------------- */
.swiper-btns {
  display: flex;
}
.swiper-btns__next,
.swiper-btns__prev {
  padding: 1rem;
  cursor: pointer;
  line-height: 0;
  transition: all 0.2s var(--ease-out);
  border-radius: 0.4rem;

  &:hover {
    background-color: var(--dimWhite);
    color: var(--black);
  }

  &[button-style="ghost"] {
    outline: 1px solid var(--black);
    outline-offset: -1px;

    &:hover {
      color: var(--white);
      background-color: var(--primary);
    }
  }
}

/* style */
html {
  font-size: 62.5%;
}

body {
  font-family: "SpokaHanSansNeo", sans-serif;
  font-size: var(--body-m);
  color: var(--black);
  letter-spacing: -0.02em;
}

/* ------------------ header ------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) saturate(1.5);

  font-size: var(--body-m);
  font-weight: var(--body-m);

  transition: all 0.3s 0.23s var(--ease-out);

  &.active {
    background-color: rgba(255, 255, 255, 1);
  }

  a {
    display: block;
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 147.2rem;
    margin: 0 auto;
  }

  .header__logo {
    height: 6rem;
    padding: 0 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gnb {
  .gnb__list {
    display: flex;
    gap: 0.8rem;
  }

  .gnb__link {
    padding: 0 1.6rem;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: block;
    }
  }

  .submenu {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background: var(--white);
    padding: 12rem 0 7rem;
    box-sizing: border-box;

    transition: all 0.3s var(--ease-out);
    opacity: 0;
    visibility: hidden;
    color: var(--white);
    transform: translateY(-100%);

    &.active {
      opacity: 1;
      visibility: visible;
      color: var(--black);

      .submenu__item-text {
        opacity: 1;
        transition: opacity 0.1s;
      }
    }

    &.flyout {
      transform: translateY(0%);
      transition: transform 0.3s, color 0.1s;
      transition-timing-function: var(--ease-out);

      .submenu__item-text {
        opacity: 1;
        transition: opacity 0.3s 0.2s;
      }
    }

    .submenu__link {
      font-size: var(--body-l);
      font-weight: var(--bodyStrong);
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }

    .submenu__item {
      padding: 0 2rem;
    }

    .submenu__item-text {
      position: absolute;
      inset: 7.5rem 0 auto 0;
      text-align: center;
      font-size: var(--body-m);
      font-weight: 400;
      color: var(--darkGray);
      opacity: 0;
      transition: opacity 0.3s 0.2s;
    }

    a {
      position: relative;
      transition: opacity 0.3s, transform 0.3s;
      transition-delay: var(--headerTextDelay);
      transition-timing-function: var(--ease-out);

      &.beforeAni {
        transform: translateY(2rem);
        opacity: 0;
        transition-delay: 0s;
      }

      &.afterAni {
        transition: all 0.2s;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -1.2rem;
        top: 50%;
        width: 0.6rem;
        height: 0.6rem;
        background-color: var(--primary);
        transform: translate(0.5rem, -50%);
        border-radius: 9rem;

        transition: all 0.2s;
        opacity: 0;
        visibility: hidden;
      }

      &:hover::before {
        opacity: 1;
        visibility: visible;
        transform: translate(0, -50%);
      }
    }
  }

  .submenu__depth3 {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    font-size: var(--body-s);

    .submenu__depth3-link {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.header__util {
  display: flex;

  .header__util-item {
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 0 1.6rem;
  }
}

.header__bg {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 10;
  pointer-events: none;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;

  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
/* header end */

/* ------------ main -------------- */

main {
  padding-top: 6rem;
}

/* ------------ hero section ------------- */

.hero-section {
  padding: 2rem 0 8rem;
}

.visual-box {
  display: flex;
  gap: 2rem;
  height: 79rem;
}

.visual-box__left {
  position: relative;
  flex: 2 1 0;
  height: 100%;
  min-width: 0;
}

.visual-box__right {
  position: relative;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  min-width: 0;
}

.visual-box__sub-swiper {
  flex: 3.5 1 0;
}

/* stockBox */
.stock-box {
  flex: 1 1 0;

  .stock-box__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 2.4rem;
    overflow: hidden;
    background-color: var(--dimWhite);
    padding: 4rem;
    box-sizing: border-box;
    transition: all 0.3s var(--ease-out);
    border: 1px solid transparent;

    &:hover {
      border: 1px solid var(--lightGray);
    }
  }

  .stock-box__top {
    display: flex;
    gap: 1rem;
    font-size: var(--body-m);
    font-weight: var(--body);
    .stock-box__title {
      font-weight: var(--bodyStrong);
    }
    .stock-box__ticker {
      color: var(--primary);
    }
  }

  .stock-box__bottom {
    display: flex;
    gap: 1rem;
    align-items: end;
    font-size: var(--body);
    font-weight: var(--body);
    line-height: 1;

    .stock-box__price {
      font-size: var(--heading-l);
      font-weight: var(--heading);
    }
    .stock-box__currency {
      font-size: var(--body-l);
      font-weight: var(--bodyStrong);
    }
    .stock-box__delta {
      color: var(--blue);
    }
    .stock-box__delta-percent {
      color: var(--blue);
    }
  }
}

/* slide */
.hero-section .slide {
  .slide__inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2.4rem;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      display: block;
      inset: 0 0 0 0;
      z-index: 1;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      opacity: 0.5;
      transition: all 0.6s var(--ease-out);
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
  .slide__img {
    height: 100%;
    img {
      height: 100%;
    }
  }

  .slide__content {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4rem;
    justify-content: end;
    color: var(--white);
  }

  .slide__title {
    font-size: var(--heading-l);
    font-weight: var(--heading);
    line-height: 1.2;
  }
  .slide__title-small {
    font-weight: var(--heading);
    font-size: var(--heading-m);
  }

  .slide__desc {
    font-size: var(--subheading-m);
    font-weight: var(--subheading);
    line-height: 1.2;
    margin-top: 0.6rem;
  }

  .slide__button-wrap {
    padding-top: 2rem;
  }
}

.hero-section .swiper-btns {
  position: absolute;
  display: flex;
  z-index: 5;
  right: 4rem;
  bottom: 4rem;
  gap: 1rem;
  color: var(--white);
}

.hero-section .search-box {
  margin-top: 8rem;

  .search-box__title {
    font-size: var(--heading-m);
    font-weight: var(--heading);
    color: #444;
    line-height: 1.3;
  }
  .search-box__inner {
    margin-top: 1.6rem;
  }

  .search-box__tag-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.2rem;
  }
  .search-box__form {
    position: relative;
    width: fit-content;
  }

  .search-box__field {
    min-width: 58.8rem;
    padding: 2rem 7rem 2rem 3rem;
    background-color: var(--dimWhite);
    border-radius: 9.9rem;
    opacity: 0.8;
    transition: all 0.2s var(--ease-out);
    border: 2px solid transparent;
    box-sizing: border-box;

    &:focus {
      opacity: 1;
      border: 2px solid var(--darkGray);
    }
  }

  .search-box__button {
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
}

/* section bridge */
.section-bridge {
  padding: 8rem 0;
  background-color: var(--dimWhite);
}
.section-bridge .bridge {
  display: flex;
  gap: 2rem;

  .bridge__left {
    flex: 5 1 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;

    .bridge__title {
      font-weight: var(--title);
      font-size: var(--title-m);
      line-height: 1.2;
      color: var(--black-heading);
    }
    .bridge__desc {
      font-weight: var(--body);
      font-size: var(--body-l);
      line-height: 1.6;
    }
    .bridge__button-wrap {
      margin-top: 1.6rem;
    }
  }

  .bridge__right {
    flex: 7 1 0;
    overflow: hidden;
    border-radius: 2.4rem;
    img {
      transition: all 0.3s ease-out;
      will-change: transform;
    }

    &:hover {
      img {
        transform: scale(1.02);
        filter: brightness(1.04);
      }
    }
  }
}
/* ---------- section brand ------------ */
.section-brand {
  padding: 8rem 0;
}

.section-brand .brand__title {
  text-align: center;
}

.section-brand .brand__inner {
  margin-top: 6rem;
  display: flex;
  gap: 2rem;

  .brand__logo-box {
    outline: 1px solid var(--lightGray);
    border-radius: 1.8rem;
    transition: all 0.3s var(--ease-out);

    &:hover {
      background-color: var(--dimWhite);
      outline: 1px solid transparent;
    }
  }
}

.section-brand .brand__button-wrap {
  margin-top: 6rem;
  .button__st-1 {
    margin: 0 auto;
  }
}

/* -------------------- section collection -------------------- */
.section-collection {
  padding: 8rem 0;
}
.section-collection .content-wrap {
  position: relative;
}

.collection__title {
  margin-bottom: 4rem;
}

.section-collection .slide__inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.section-collection .slide__content-top {
  position: relative;
  overflow: hidden;
  border-radius: 2.4rem;

  &:hover {
    .bg.img-box img {
      transform: scale(1.04);
    }
  }

  .bg.img-box {
    height: 100%;
    img {
      height: 100%;
      filter: brightness(0.5);
      max-height: 30rem;
      transition: transform 0.25s var(--ease-out);
    }
  }
  .logo-box {
    position: absolute;
    top: 0;
    right: 4rem;
    width: 18rem;
  }
  .furuto-logo {
    filter: invert(1);
  }
  .nexcare-logo {
    filter: brightness(1.3);
  }

  .slide__top-text {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    color: var(--white);
    font-weight: var(--heading);
    font-size: var(--heading-m);
  }
}

.section-collection .swiper-btns__prev {
  position: absolute;
  top: 50%;
  left: -8rem;
}
.section-collection .swiper-btns__next {
  position: absolute;
  top: 50%;
  right: -8rem;
}

/* -------------------- section best -------------------- */
.section-best {
  padding: 8rem 0;
}

.section-best .content-wrap {
  position: relative;
}

.best__title {
  margin-bottom: 2rem;
}

.best__tag-wrap {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.best__swiper {
  position: relative;

  .swiper-slide {
    width: fit-content;
    max-width: 30rem;
    .slide__inner {
      width: fit-content;
    }
  }
}

.section-best .swiper-btns__prev {
  position: absolute;
  bottom: 21rem;
  left: -8rem;
}

.section-best .swiper-btns__next {
  position: absolute;
  bottom: 21rem;
  right: -8rem;
}

/* -------------------- section news -------------------- */
.section-news {
  padding: 8rem 0;

  .content-wrap {
    position: relative;
  }
}

.news__title {
  margin-bottom: 2rem;
}

.news__tag-wrap {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.news__slide {
  width: fit-content;
  .slide__inner {
    width: fit-content;
  }
}

.section-news .swiper-btns__prev {
  position: absolute;
  bottom: 40%;
  left: -8rem;
}

.section-news .swiper-btns__next {
  position: absolute;
  bottom: 40%;
  right: -8rem;
}

.section-news .button__st-1 {
  margin: 4rem auto 0;
}

/* -------------------- section business -------------------- */
.section-business {
  padding: 8rem 0;
  background-color: var(--dimWhite);
}

.business__title {
  margin-bottom: 4rem;
}

.business__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

  .item__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    border-radius: 2.4rem;
    min-height: 17rem;
    border: 4px solid var(--white);
    overflow: hidden;
    transition: all 0.34s var(--ease-in-out);

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 34rem;
      height: 34rem;
      background-color: var(--primary);
      border-radius: 50%;
      filter: blur(3px);
      z-index: 1;
      pointer-events: none;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: inherit;
    }

    &.pos-left::after {
      transform: translate(-50%, -50%) translateX(-100%);
      opacity: 0.5;
    }
    &.pos-right::after {
      transform: translate(-50%, -50%) translateX(100%);
      opacity: 0.5;
    }

    &.no-trans::after {
      transition: none !important;
    }

    &.active {
      &::after {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
      }
      .item__img img {
        filter: invert(1) brightness(2);
        transform: scale(1.2);
      }

      .item__text {
        color: var(--white);
      }
    }
  }

  .item__img {
    position: relative;
    z-index: 2;
    width: 4.8rem;
    overflow: hidden;
    padding: 1.2rem;
    transition: inherit;
    img {
      aspect-ratio: 1/1;
      transition: inherit;
    }
  }

  .item__text {
    position: relative;
    z-index: 2;
    font-weight: var(--subheading);
    font-size: var(--subheading-m);
    transition: inherit;
  }
}

.section-business .button__st-1 {
  margin: 4rem auto 0;
}

/* -------------------- main end -------------------- */

/* -------------------- footer -------------------- */
footer {
  padding: 8rem 0 2rem;
  background-color: var(--dimWhite);
  a {
    display: inline-block;
  }
}

.footer__menu {
  display: flex;
  justify-content: space-between;

  .menu__item {
    font-weight: 500;
    color: #333;
  }

  li > a {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -1.2rem;
      top: 50%;
      width: 0.6rem;
      height: 0.6rem;
      background-color: var(--primary);
      transform: translate(0.5rem, -50%);
      border-radius: 9rem;

      transition: all 0.2s;
      opacity: 0;
      visibility: hidden;
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
      transform: translate(0, -50%);
    }
  }
}

.footer__submenu {
  margin-top: 1.2rem;
  font-size: var(--body-s);
  font-weight: var(--body);
  color: var(--black-heading);

  .submenu__item:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.footer__submenu.submenu-sns {
  display: flex;
  gap: 1rem;

  .submenu__item > a {
    &::before {
      content: "";
      display: none;
    }
  }

  .submenu__item .img-box {
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--white);
    transition: all 0.3s var(--ease-in-out);

    img {
      width: 3.2rem;
      aspect-ratio: 1/1;
      filter: grayscale(1) brightness(0.2);
      opacity: 0.7;
      transition: inherit;
    }

    &:hover {
      img {
        opacity: 1;
        filter: grayscale(0) brightness(1);
      }
    }
  }
}

.footer__bottom {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  gap: 1.6rem;
  color: #444;
  font-size: var(--body-s);
}

.bottom__link-box {
  display: flex;
  gap: 0.8rem;
}

.bottom__link a:hover {
  color: var(--black);
}

.bottom__copyright {
  margin-bottom: 1.6rem;
}

.bottom__text {
  margin: auto 0 0 auto;
}
/* body end */
