@charset "utf-8";
/* font */
@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SpokaHanSansNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

:root {
  /* color */
  --primary: #ff0000;
  --primary-6: #cc0000;
  --white: #fff;
  --dimWhite: #f6f6f6;
  --lightGray: #dddddd;
  --darkGray: #969696;
  --black: #190000;
  --black-heading: #333;
  --blue: #0088ff;
  --yellow: #faaa19;
  --green: #00b132;

  /* font */
  --body: 400;
  --bodyStrong: 700;
  --body-s: 1.3rem;
  --body-m: 1.5rem;
  --body-l: 1.8rem;

  --subheading: 500;
  --subheading-m: 2.2rem;

  --heading: 700;
  --heading-m: 2.8rem;
  --heading-l: 5.6rem;

  --title: 700;
  --title-m: 4rem;
  --title-xl: 8rem;
}

/* libs */
.hidden {
  display: none;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

.svg-box {
  line-height: 0;
}

/* style */
html {
  font-size: 62.5%;
}

body {
  font-family: "SpokaHanSansNeo", sans-serif;
  font-size: 16px;
  color: var(--black);
}

/* ------------------ header ------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) saturate(1.5);

  font-size: var(--body-m);
  font-weight: var(--body-m);

  transition: all 0.3s 0.23s ease-in-out;

  &.active {
    background-color: rgba(255, 255, 255, 1);
  }

  a {
    display: block;
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 147.2rem;
    margin: 0 auto;
  }

  .header__logo {
    height: 6rem;
    padding: 0 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gnb {
  .gnb__list {
    display: flex;
  }

  .gnb__link {
    padding: 0 1.6rem;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: block;
    }
  }

  .submenu {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background: var(--white);
    padding: 8rem 0;
    box-sizing: border-box;

    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    color: var(--white);
    transform: translateY(-100%);

    &.active {
      opacity: 1;
      visibility: visible;
      color: var(--black);
    }

    &.flyout {
      transform: translateY(0%);
      transition: transform 0.3s, color 0.1s;
      transition-timing-function: ease-in-out;
    }

    .submenu__link {
      font-size: var(--body-l);
      font-weight: var(--bodyStrong);
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }

    .submenu__item {
      padding: 0 2rem;
    }

    a {
      position: relative;
      transition: opacity 0.3s, transform 0.3s;
      transition-delay: var(--headerTextDelay);
      transition-timing-function: ease-in-out;

      &.beforeAni {
        transform: translateY(2rem);
        opacity: 0;
        transition-delay: 0s;
      }

      &.afterAni {
        transition: all 0.2s;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -1.2rem;
        top: 50%;
        width: 0.6rem;
        height: 0.6rem;
        background-color: var(--primary);
        transform: translate(0.5rem, -50%);
        border-radius: 9rem;

        transition: all 0.2s;
        opacity: 0;
        visibility: hidden;
      }

      &:hover::before {
        opacity: 1;
        visibility: visible;
        transform: translate(0, -50%);
      }
    }
  }

  .submenu__depth3 {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    font-size: var(--body-s);

    .submenu__depth3-link {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.header__util {
  display: flex;

  .header__util-item {
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 0 1.6rem;
  }
}

.header__bg {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 10;
  pointer-events: none;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;

  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
